<html>


<head>


</head>

<body>
    <form action = '/predict' method = 'post'>

                <input type="text" name = 'firstname' placeholder="firstname" required = 'required' />
                <input type="text" name = 'lastname' placeholder="lastname" required = 'required' />
                <input type="number" name = 'phonenumber' placeholder="mobilenumber" required = 'required' />
                <input type="email" name = 'mail' placeholder="email" required = 'required' />
                <button type = 'submit'>Submit Button </button>

    </form>
</body>
</html>